body, html {
    background: #fff;
    padding: 0;
    margin: 0;

    border: solid .08em #ff9800;
    width: 100%;
    height: 100%;
    
    font-family: 'Open Sans', sans-serif;
	
	padding-top: 10px;
}


.bar {
    height: 30px;
    color: #eee;
    background: #ff9800;
	

    z-index: 900;
    position: absolute;
	
	top:0;
	left: 0;
	right: 0;
    
    -webkit-user-select: none;
    -webkit-app-region: drag;
	
	.item {		
		height: 30px;
		width: 30px;
        padding-top: 3px;
		text-align: center;
		vertical-align: middle;
		
		-webkit-app-region: no-drag;
		position: absolute;
        
		color: #f57c00;
        z-index: 901;
        
        &#close {
            top: 0;
            right: 0;
        }
        
        &#minimize {
            top: 0;
            right: 33px;
        }
	
		&:hover {
			color: #fb8c00;
			background: #ef6c00;
			cursor: pointer;
		}
	}
    
    .title {
        position:absolute;
        width: 100%;
        text-align: center;
        color: white;
        
        font-size: 20px;
        
    }
}

.container {
    padding: 20px;
    position: relative;
    margin-top: 25px;
}

.footer {
    position: absolute;
    height: 30px;
    
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #ff9800;
    
    .container {
        padding: 5px;
        margin-top: 0;
        margin-left: 15px;
        
        .item {
            color: white;
            position: relative;
        }
    }
    
}

.bg-dark {
    padding: 3px;
    background: #241F23;
    text-shadow: 1px 1px 0 #120F11;
}

#command-area {
    
    #txtCommandTitle {
        color: #333;
    }
}
