// Import regular css //
@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "sweet-alert.min.css";

// Import our sass //
@import "variables.scss";
@import "theme.scss";

body, html {
    background: #f9f9f9;
    padding: 0;
    margin: 0;

    border: solid .08em $mainColor;

    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-font-smoothing:antialiased;
    font-family: 'Lato', sans-serif;

    padding-top: 10px;

    /*fancy scroll bar. by fancy we mean none. */
    ::-webkit-scrollbar {
        display: none;
    }
}



.bar {
    height: 30px;
    color: #eee;
    background: $mainColor;


    z-index: 900;
    position: fixed;

    top:0;
    left: 0;
    right: 0;

    -webkit-user-select: none;
    -webkit-app-region: drag;

    .item {
        height: 30px;
        width: 30px;
        padding-top: 3px;
        text-align: center;
        vertical-align: middle;

        -webkit-app-region: no-drag;
        position: absolute;

        color: $mainColorDark;
        z-index: 901;
        font-size: 18px;

        &#close {
            top: 0;
            right: 0;
        }

        &#minimize {
            top: 0;
            right: 33px;
        }

        &#settings {
            top: 0;
            left: 0;

        }

        &:hover {
            color: $mainColor;
            background: $mainColorDark;
            cursor: pointer;
        }
    }

    .title {
        position:absolute;
        width: 100%;
        text-align: center;
        color: white;

        font-size: 14px;
        padding-top: 4px;

    }
}

.header {
    margin: 0;
    position: absolute;
    top: 29px;
    height: 30px;
    left: 0;
    right: 0;
    
    background: $mainColor;
}

.container {
    padding: 20px;
    position: relative;
    margin-top: 25px;
}

.footer {
    z-index:990;
    
    position: fixed;
    height: 30px;

    bottom: 0;
    left: 0;
    right: 0;

    background: $mainColor;

    .container {
        padding: 5px;
        margin-top: 0;
        margin-left: 15px;

        .item {
            color: white;
            position: relative;
        }
    }

}

.settings {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    border: 1px solid $mainColor;
    background: white;
    padding: 40px 20px 0 20px;
    
    z-index: 700;
}

.bg-dark {
    padding: 4px;
    background: #241F23;
    text-shadow: 1px 1px 0 #120F11;
    .text-muted {
        color: #aaa;
    }
}

