@import "variables.scss";

.list-group-item {
    &.active,
    &:focus {
        background-color: white;
        border-color: $mainColor;
        color: #555;
        
        p.list-group-item-text {
            color: #777;
        }

        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(0, 0, 0, 0);
            border-left-color: transparent;
            border-width: 10px;
	        margin-top: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-left-color: $mainColor;
            border-width: 11px;
	        margin-top: -11px;
        }
        
        &:hover {
            border-color: $mainColorDark;
            background-color: white;
            color: #333;
        
            p.list-group-item-text {
                color: #555;
            }
            &:before {
                border-left-color: $mainColorDark;
            }

        }
    }
    
}

label {
    font-size: 16px;
}

.form-control {
    border-radius: 0;
}

input.form-control[type=text], 
input.form-control[type=number] {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    padding-left: 0;
    
    &:hover {
        border-color: #ccc;
        box-shadow: none;   
    }
    
    &:focus {
        border-color: $mainColor;
        box-shadow: none;
    }
}

.panel-default>.panel-heading {
    background-color: white;

    input.form-control[type=text] {
        padding-left: 10px;
        background: transparent;
        border-bottom-color: transparent;
        font-size: 20px;
        font-weight: bold;
        color: $mainColor;

        &:hover {
            border-bottom: 1px solid $mainColorLight;
        }

        &:focus {
             border-bottom: 1px solid $mainColor;
        }
    }
}

.panel {
    border-radius: 3px;

    .panel-heading {
        border-bottom: none;
    }

    .panel-body {
        padding-bottom: 0;
        padding: 10px 25px;
    }

    .panel-footer {
        background: transparent;
        padding: 8px;
        border-top: none;
    }
}

// BUTTONS !!! //

.btn {
    background: transparent;
    border: 1px solid transparent;
    color: #333;
    padding: 10px;
    font-weight: bold;
    outline: 0;

    &:focus, &:active, &:hover {
        outline: 0;
        box-shadow:none;
        -webkit-box-shadow:none;
    }

    &.btn-primary {
        background-color: $mainColor;
        border-color: $mainColor;
        color: white;
        &:hover, &:active, &:focus{
            background-color: $mainColorDark;
        }
    }

    &.btn-default {
        border-color: #ccc;
    }

    &.btn-danger {
        color: #F44336;
        border: 1px solid #F44336;
        &:hover, &:active, &:focus {
            color: #D32F2F;
            border-color: #D32F2F;
            background: transparent;
        }
    }
}
