@import "variables.scss";

.list-group-item {
    &.active,
    &:focus {
        background-color: white;
        border-color: $mainColor;
        color: #555;
        
        p.list-group-item-text {
            color: #777;
        }

        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(0, 0, 0, 0);
            border-left-color: transparent;
            border-width: 10px;
	        margin-top: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-left-color: $mainColor;
            border-width: 11px;
	        margin-top: -11px;
        }
        
        &:hover {
            border-color: $mainColorDark;
            background-color: white;
            color: #333;
        
            p.list-group-item-text {
                color: #555;
            }
            &:before {
                border-left-color: $mainColorDark;
            }

        }
    }
    
}

label {
    font-size: 16px;
}

.form-control {
    border-radius: 0;
}

input.form-control[type=text], 
input.form-control[type=number] {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    padding-left: 0;
    
    &:hover {
        border-color: #ccc;
        box-shadow: none;   
    }
    
    &:focus {
        border-color: $mainColor;
        box-shadow: none;
    }
}

.panel-default>.panel-heading {
    background-color: white;
    border: none;

    input.form-control[type=text] {
        padding-left: 10px;
        background: transparent;
        border-bottom-color: transparent;
        font-size: 20px;
        font-weight: bold;
        color: $mainColor;

        &:hover {
            border-bottom: 1px solid $mainColorLight;
        }

        &:focus {
             border-bottom: 1px solid $mainColor;
        }
    }
}

.panel {
    border-radius: 2px;
}

.panel-default {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}


.panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-body {
    padding-bottom: 0;
    padding: 10px 25px;
}

.panel-footer {
    background: transparent;
    padding: 8px;
    border-top: none;
    .btn {
        background: transparent;
        border: none;
        color: #333;
        padding: 10px;
        margin: 5px;
        font-weight: bold;
        outline: 0;

        &:focus {
            outline: 0;
        }

        &.btn-primary {
            color: #0097a7;
        }
    }
}
